<div class="row">
  <div class="col text-center">
    <span class="title">Proxima Centauri</span>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <img class="image" src="/assets/images/comparisons/earth-moon-sun-proxima.png" />
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="content">
        The Sun's closest neighbor is a whopping 4.243 light years ( 24,943,000,000,000 miles) away from The Sun. 
        It can't even be placed on this map because even if you scale that distance down to the rest of the Solar System 
        on the map it would still be 232,965 miles away which is almost the distance between the Earth and the Moon.
    </p>
  </div>
</div>
