.info-window-content {
  color: black !important;
}

ul.nav-container {
  list-style-type: none;
  margin-top: 20px;
  width: 100%;
  padding-left: 0;
}

li.nav-item {
  padding: 15px;
  border-bottom: 1px solid #7a7a7a
}

li.nav-item:last-child {
  border-bottom: none
}

a.nav-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  color: white;
}

a.nav-link:hover {
  color: #ddeeff;
}

a.nav-link:disabled {
  color: #b6b6b6 !important;
  pointer-events: none !important;
  cursor: default !important;
}

