<ul class="nav-container nav-body d-none d-md-block">
    <li class="nav-item"
        data-toggle="popover"
        data-trigger="hover"
        data-placement="right"
        data-content="See the solar system scaled down on a map."
    >
        <a routerLink="/" class="nav-link" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">
            <img src="/assets/icons/solar-system-icon.png" class="selected-nav-img" width="30"/>
        </a>
    </li>
    <li class="nav-item"
        data-toggle="popover"
        data-trigger="hover"
        data-placement="right"
        data-content="Just how big is the Milky Way?"
    >
        <a routerLink="/milky-way" class="nav-link" routerLinkActive="nav-link-active">
            <img src="/assets/icons/milky-way-icon.png" width="30"/>
        </a>
    </li>
    <li class="nav-item"
        data-toggle="popover"
        data-trigger="hover"
        data-placement="right"
        data-content="Shrink all of earth's history into one calendar year."
    >
        <a routerLink="/earth-timeline" class="nav-link" routerLinkActive="nav-link-active">
            <img src="/assets/icons/earth-timeline-icon.png" width="30"/>
        </a>
    </li>
</ul>
<div class="row">
  <div class="col-12 d-block d-md-none">
    <div class="btn-group">
      <button type="button"
              class="btn btn-default"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="fa fa-2x fa-bars"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/">
          <img src="/assets/icons/solar-system-icon.png" width="30"/> The Solar System
        </a>
        <a class="dropdown-item" routerLink="/milky-way">
          <img src="/assets/icons/milky-way-icon.png" width="30"/> The Milky Way
        </a>
        <a class="dropdown-item" routerLink="/earth-timeline">
          <img src="/assets/icons/earth-timeline-icon.png" width="30"/> Earth's Timeline
        </a>
        <a class="dropdown-item" routerLink="/atom">
          <img src="/assets/icons/atom-icon.png" width="30"/> Atoms
        </a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h1 *ngIf="!googleMapsLoaded">Waiting For Google Maps to Load</h1>
    <router-outlet *ngIf="googleMapsLoaded"></router-outlet>
  </div>
</div>

