<div class="row">
  <div class="col">
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="Enter Start Point"
             id="earthTimelineOriginAddress" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="Enter Destination Point"
             id="earthTimelineDestinationAddress" />
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-8">
    <div id="earthTimelineMap"></div>
  </div>
</div>
