<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 col-xl-6">
    <div class="map-top-container">
      <div class="address-input">
          <div class="input-group">
            <i class="material-icons location-icon" (click)="getClientLocation()" title="Set to my location (which will not be saved anywhere)">my_location</i>
            <input type="text" 
                  class="form-item"   
                  id="solarSystemAddressInput"
                  placeholder="Place the sun at a different address" />
          </div>
      </div>
      <div class="rotate-btn" title="Rotate Planets" (click)="rotateMapObjects()">
        <i class="material-icons">rotate_right</i>
      </div>
    </div>
    <div class="map-container">
        <div id="solarSystemMap"></div>
        <div class="light-beam-btn">Start A Lightbeam</div>
    </div>
    <div class="map-bottom-container">
      <mat-radio-group name="solarSystemUnits" [value]="isUnitSystemMetric()" (change)="setUnitSystemMetric($event)">
        <mat-radio-button [value]="true">Metric</mat-radio-button>
        <mat-radio-button [value]="false" style="margin-left: 15px;">Freedom Units</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
