<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 col-xl-6">
    <div class="map-top-container">
      <div class="address-input">
          <div class="input-group">
            <i class="material-icons location-icon" (click)="getClientLocation()" matTooltip="center to me">my_location</i>
            <input type="text" 
                  class="form-item"   
                  id="solarSystemAddressInput"
                  placeholder="Place the sun at a different address" />
          </div>
      </div>
      <div class="map-objects-btn" matTooltip="go to a map item" (click)="showMapItemsDialog()">
          <i class="material-icons">place</i>
        </div>
      <div class="rotate-btn" matTooltip="rotate" (click)="rotateMapObjects()">
        <i class="material-icons">rotate_right</i>
      </div>
    </div>
    <div class="map-container">
        <div id="solarSystemMap"></div>
        <button class="proxima-centauri-btn" mat-raised-button (click)="showProximaCentauriDialog()">
          <i class="material-icons">brightness_5</i>&nbsp;
          Proxima Centauri
        </button>
        <button class="light-beam-btn" mat-raised-button (click)="toggleLightbeam()">
            <i class="material-icons">waves</i>&nbsp;
            {{ isLightbeamRunning() ? 'Stop Lightbeam' : 'Start A Lightbeam' }}
        </button>
    </div>
    <div class="map-bottom-container">
      <mat-radio-group name="solarSystemUnits" [value]="isUnitSystemMetric()" (change)="setUnitSystemMetric($event)">
        <mat-radio-button [value]="true">Metric</mat-radio-button>
        <mat-radio-button [value]="false" style="margin-left: 15px;">Freedom Units</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
