<div class="row justify-content-center" style="margin-top: 50px;">
  <div class="col col-md-10 col-lg-8">
    <h4 class="text-center">How Big Is It?</h4>
    <p class="text-center">
      "This space stuff is just too big! I will never understand it!"
    </p>
    <p>
      Have you heard this from someone, or even thought it yourself? Yes, space is really big and very spread out. Big
      things are going on and we are very small in comparison. The center of the Sun is 27,000,000 degrees Fahrenheit.
      Venus is 108,200,000 kilometers away from the Sun. The Supermassive Black Hole at the center of our galaxy has the
      mass of over 4,000,000 Suns. Ok, great. What does all that mean?
    </p>
    <p>
      In an effort to close this mental disconnect a little lets build a pretend universe where we shrink everything
      down simultaneously (SCALEPERCENTAGE to be exact). At this point the Sun is about the size of a hot air balloon.
      Now use the address bar below (if you like) and move your new hot air balloon sun to an address where you are
      familiar with the surroundings. From there you can check out the other objects to get a better feel for where
      things are in our Solar
      System.
    </p>
  </div>
</div>
<div class="row justify-content-center" style="margin-bottom: 30px;">
  <div class="col col-md-8 col-lg-6">
    <h6>You can move the Sun with this. You can also drag the Sun marker as well.</h6>
    <div class="input-group">
      <input type="text"
             class="form-control"
             id="sunAddress"
             name="sunAddress"
             placeholder="Set an address for the sun"/>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col col-md-11 col-lg-10">
    <div class="row">
      <div class="col">
        <div id="map" style="width: 100%; height: 700px;"></div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col col-md-4">
        <select class="form-control"
                id="bearingSelector"
                [ngModel]="bearing"
                (change)="setBearing($event.target.value)">
          <option
            *ngFor="let direction of ['North', 'North East', 'East', 'South East', 'South', 'South West', 'West', 'North West', 'Current Positions']"
            [value]="Bearing[direction.replace(' ', '')]">
            {{ direction }}
          </option>
        </select>
      </div>
      <div class="col col-md-4" style="text-align: center;">
        <div style="width: auto; display: inline-block;">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary"
                   (click)="switchMeasurementSystem(true)"
                   [ngClass]="{active: isMeasurementSystemMetric()}">
              <input type="radio"
                     name="measurementSystems"
                     id="metricSystem"
                     autocomplete="off"
                     [attr.checked]="isMeasurementSystemMetric()"> Metric
            </label>
            <label class="btn btn-secondary"
                   (click)="switchMeasurementSystem(false)"
                   [ngClass]="{active: ! isMeasurementSystemMetric()}">
              <input type="radio"
                     name="measurementSystems"
                     id="imperialSystem"
                     autocomplete="off"
                     [attr.checked]="!isMeasurementSystemMetric()"> Freedom Units
            </label>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <select class="form-control"
                id="planetSelector"
                [ngModel]="selectedBodyName"
                (change)="centerOn($event.target.value)">
          <option selected disabled [value]="null">Jump To An Object</option>
          <option value="planets">All Planets</option>
          <option [value]="'The Sun'">The Sun</option>
          <optgroup label="Planets">
            <option *ngFor="let planet of solarSystemService.getSolarSystem().planets" [value]="planet.name">
              {{ planet.name }}
            </option>
          </optgroup>
          <optgroup label="Other Items">
            <option value="pluto">Pluto</option>
            <option [value]="'voyager 1'">Voyager 1</option>
            <option value="moon">The Moon</option>
            <option [value]="'proxima centauri'">Proxima Centauri</option>
            <option value="all">All Objects</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" style="margin-top: 30px; margin-bottom: 50px;">
  <div class=" col col-md-11 col-lg-10">
    <h4>The speed of light is incredibly... slow?</h4>
    <p>
      If you walk into a dark room and flip on the lights it is illuminated, to our eyes, instantly. We have never had
      to wait
      on light. However, light does have a speed limit. And when you are talking about the great void of space we should
      start thinking about light and the objects we see around us a little differently. If we scaled down the speed of
      light by the same amount we have scaled everything else then the speed of light is only going about
      SCALEDSPEED which is the speed of a fast jog. To get a better idea of how fast light goes through our solar system
      use the buttons below to shoot out a light beam from The Sun.
    </p>
    <button class="btn btn-info" (click)="startLightBeam()">Start Light Beam</button>
    <button class="btn btn-default" (click)="cancelLightBeam()">Cancel Light Beam</button>
  </div>
</div>
