.map-container {
  position: relative;
}

.light-beam-btn {
  cursor: pointer;
  position: absolute;
  left: 5px;
  bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 0;
  color: #000000;
  width: 220px;
  height: 35px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: lightblue;
  }
  &:active {
    background-color: lightseagreen;
  }
}

#solarSystemMap {
  height: 700px;
}

.location-icon {
  cursor: pointer;
  transition: color 500ms ease-out;
  &:hover {
    color: rgb(20, 20, 190);
  }
}

div.map-top-container {
  width: 100%;
  display: inline-flex;
}

div.address-input {
  flex: 1;
}

div.map-top-container > .rotate-btn {
  flex-shrink: 1;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
  &:active {
    color: rgb(20, 20, 190);
  }
}