<div class="row justify-content-center">
  <div class="col-auto text-center">
    <p class="marathon-explainer">
      So just how big is our Solar System?<br /><br />
      To get a better understanding let's shrink it down <br /> 
      to about the length of a marathon and put it on a map.
    </p>
    <div class="marathon-legend" id="marathonLegend">
      <p class="marathon-tooltip">
        ~ 26.2 mi / 42.2 km
      </p>
      <div class="marathon-span" id="marathonSpan"></div>
    </div>
    <app-solar-system-animation [size]="solarSystemSize"></app-solar-system-animation>
  </div>
</div>
