.marathon-legend {
  position: relative;
  width: 250px;
  left: 250px;
}

.marathon-span {
  position: relative;
  width: 244px;
  height: 20px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
}

.marathon-tooltip {
  color: #FFFFFF;
  padding-top: 5px;
}

.marathon-explainer {
  color: #FFFFFF;
}