<app-nav-bar></app-nav-bar>
<div id="starField" class="star-field">

</div>
<div class="app-background" id="appBackground">
    <div class="row justify-content-center" style="margin-top: 50px;">
      <div class="col-10 col-lg-6 col-xl-4 col-xxl-2 text-center app-title-container">
        <span class="app-title">Scale To Me</span><br />
        <p class="app-sub-title">
          Making enormous and microscopic things easier to understand
        </p>
      </div>
    </div>
    <div id="solarSystemExplainerContainer">
        <app-solar-system-explainer></app-solar-system-explainer>
    </div>
    <div id="solarSystemContainer">
        <app-solar-system [googleMapsLoaded]="googleMapsLoaded"></app-solar-system>
    </div>
</div>