@import "../../../styles/variables";
@import "../../../styles/mixins";

#navBar {
  position: fixed;
  z-index: 9999;
  width: 75px;
  height: 290px;
  left: -76px;
  top: 5%;
  border: 1px solid #DEDEDE;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left 100ms ease-in;
}

.nav-bar-slide-right {
  left: 0px !important;
}

.nav-bar-content {
  background-color: black;
  position: relative;
  left: 0;
  top: 5px;
  width: 70px;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-bar-arrow {
  position: absolute;
  top: 0;
  right: -1px;
  @include triangle(left, #FFFFFF, 10px);
}

.nav-item {
  height: 70px;
  cursor: pointer;
}

.nav-item-image {
  padding-top: 10px;
  width: 35px;
  filter: brightness(0.3);
  transition: filter 300ms linear;
  &:hover {
    filter: brightness(1);
  }
}