
.milky-way-quarter {
  background-image: url("/assets/images/us_quarter_60.png");
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.milky-way-text-container {
  display: flex;
  justify-content: center;
}

.milky-way-explain {
  max-width: 800px;
}

.quarter-spanner-container {
  width: 200px;
  text-align: center;
}

.quarter-spanner {
  width: 100px;
  height: 20px;
  border-right: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
  float: right;
  margin-top: 10px;
}

.quarter-spanner-text {
  float: right;
  font-size: 10px;
  font-weight: bold;
}