<div class="row justify-content-center">
  <div class="col-auto text-center">
    <p class="milky-way-title">
      So just how big is the Milky Way then?
    </p>
    <p class="milky-way-explain">
      In order to get a better understanding of the vastness of the Milky Way we must first
      shrink down our Solar System even more. This time we will shrink it down to the size 
      of a US Quarter.
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto">
    <div class="milky-way-quarter">
      <app-solar-system-animation size="200"></app-solar-system-animation>
    </div>
    <div class="quarter-spanner-container">
      <div class="quarter-spanner"></div>
      <p class="quarter-spanner-text">
        4.2 Light Hours
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto">
    <p style="max-width: 500px;">
      Now, it takes light 4 hours and 12 minutes to get from the center of the quarter to the
      outside of the quarter. The fastest man made object in space ( 14 km / second ) would take
      10.18 years to get from the center of the quarter to the outside of the quarter. Refer
      back to this after you see the Milky Way.
    </p>
  </div>
</div>
