<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
      <div class="map-top-container">
        <div class="address-input">
            <div class="input-group">
              <i class="material-icons location-icon" matTooltip="center to me">my_location</i>
              <input type="text" 
                    class="form-item"   
                    id="milkyWayAddressInput"
                    placeholder="Place quarter at an address" />
            </div>
        </div>
        <button class="show-milky-way-btn" mat-flat-button>Show The Milky Way</button>
      </div>
      <div class="map-container">
        <div id="milkyWayMap"></div>
      </div>
    </div>
</div>
